.input, .input:focus{
    outline:none;
    border:0px solid;
    font-size: 16px;
    font-family:Fira Code;
    /* width:100%; */
    padding:0;

}
.console{
    white-space: pre-wrap;
    overflow: hidden;
    font-family:Fira Code;
}

.label{
    display: inline-block;
    color:purple;
    font-weight:600 ;
}
h2{
    font-family: Fira Code;
    font-weight:700;
    font-size:40px;    
}

@media only screen and (max-width: 600px) {
    .input, .input:focus {
        font-size: 14px;
    }
    .content, label, input {
        font-size: 14px;
    }
    h2{
        font-size:32px;
    }
  }